@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* { box-sizing: border-box; color: white; font-family: 'Poppins'; 
  user-select: none;
  scroll-behavior: smooth;}

body { background-color:#111111; }

.back { position: fixed;
  left: 0px; top: 0px;
  height: 100%; width: 100%; z-index:1;
 background: url("./b.jpg") no-repeat;
 background-size: cover;
}

.back img { margin: 0px; height: 100%; width: 100%;}



#id { margin: 0px; width: 100%; height:5px; background-color: transparent;}



  .sm { margin-top: 50px; font-size: 26px;
  font-weight: 300;}

.h1 {  margin-top: -50px;
  font-size: 150px;
  letter-spacing: 5px;
  color: white;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  font-weight: 800;
  -webkit-text-stroke-color: white;
margin-bottom: 25px;}



.App {
  position: absolute;
  left:0px;
  top:0px;
  background-color: transparent;
  height: 100%;
  width: 100%;
  z-index: 8889;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  backdrop-filter: blur(20px);
}

.footer {text-align: center;
justify-content: center;
align-items: center;
float: center;
padding-top: 25px;
padding-bottom: 25px;
height: auto;
width: 100%;
background-color: #111111;}

.back::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.disflex {
  margin-top: 50px;
  background-color: transparent;
  height: auto;
  display: flex;
  z-index: 1000;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  width: 100%;
  max-width: 1300px;
  align-items: start;
  padding-top: 30px;
  
  margin-bottom: 60px;
}

.container {
  margin: 10px;
  height: 360px;
  cursor: pointer;
  border-radius: 12px;
  width: 300px;
  background-color: #19181a;
  font-family: "Poppins";
  border: 3px solid transparent;
  padding: 10px;
  overflow: hidden;
}

.forImg {
  margin: 0px auto;
  height: 150px;
  width: 100%;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  position: relative;
  border: 2px solid transparent;
  transition: .5s;
}



.forImg img {
  margin: 0px;
  height: 100%;
  width: 100%;
  transition: .5s;
}


.title {
  position: relative;
  background-color: #111111;
  margin: 5px auto;
  width: 70%;
  border-radius: 10px;
  height: auto;
  padding: 5px;
  text-align: center;
  font-family: "Poppins";
  font-weight: 300;
  letter-spacing: 1.5px;
  font-size:18px;
  margin-top: -30px;
  z-index: 55;
  box-shadow: 0px 0px 5px transparent;
  border: 3px solid transparent;
  color: white; 
  transition: .5s;
}


.container:hover .title {  background-color: black;   box-shadow: 0px 0px 10px aqua;
  border: 3px solid aqua; margin-top: -20px;}
  .container:hover .forImg  { overflow: visible;}
  .container:hover .forImg img { transform: scale(1.2);}
  .container:hover { box-shadow: 0px 0px 10px aqua; border: 3px solid aqua;}


.visit { float: right; margin-top:0px; font-weight: 500;
  border-radius: 10px; border: 2px solid transparent;
font-size: 15px; padding: 5px 10px; background-color:white; color: black;}

.visit i { color: black; font-size: 15px; }

.visit:hover {border: 2px solid aqua; box-shadow: 0px 0px 10px aqua; background-color: black; color:white;}
.visit:hover i { color: white;}


.desc {
  margin: 10px auto;
  width: 100%;
  height: auto;
  padding-bottom: 5px;
  float: left;
  text-align: left;
  font-family: "Poppins";
  font-weight: 300;
  color: #D3D3D3;
  font-size: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.desc2 {display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;}

input {
  margin-top: -100px;
  height: 40px;
  width: 90%;
  max-width: 500px;
  outline: none;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 20px;
  color:black;
  text-align: center;
  border-radius: 10px;
  border: none;
  outline: none;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.banter-loader {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 80px;
  float:center;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
}

.banter-loader__box {
  float: left;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.banter-loader__box:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: aqua;
}

.banter-loader__box:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 6px;
}

.banter-loader__box:nth-child(1):before, .banter-loader__box:nth-child(4):before {
  margin-left: 26px;
}

.banter-loader__box:nth-child(3):before {
  margin-top: 52px;
}

.banter-loader__box:last-child {
  margin-bottom: 0;
}

@keyframes moveBox-1 {
  9.0909090909% {
    transform: translate(-26px, 0);
  }

  18.1818181818% {
    transform: translate(0px, 0);
  }

  27.2727272727% {
    transform: translate(0px, 0);
  }

  36.3636363636% {
    transform: translate(26px, 0);
  }

  45.4545454545% {
    transform: translate(26px, 26px);
  }

  54.5454545455% {
    transform: translate(26px, 26px);
  }

  63.6363636364% {
    transform: translate(26px, 26px);
  }

  72.7272727273% {
    transform: translate(26px, 0px);
  }

  81.8181818182% {
    transform: translate(0px, 0px);
  }

  90.9090909091% {
    transform: translate(-26px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(1) {
  animation: moveBox-1 4s infinite;
}

@keyframes moveBox-2 {
  9.0909090909% {
    transform: translate(0, 0);
  }

  18.1818181818% {
    transform: translate(26px, 0);
  }

  27.2727272727% {
    transform: translate(0px, 0);
  }

  36.3636363636% {
    transform: translate(26px, 0);
  }

  45.4545454545% {
    transform: translate(26px, 26px);
  }

  54.5454545455% {
    transform: translate(26px, 26px);
  }

  63.6363636364% {
    transform: translate(26px, 26px);
  }

  72.7272727273% {
    transform: translate(26px, 26px);
  }

  81.8181818182% {
    transform: translate(0px, 26px);
  }

  90.9090909091% {
    transform: translate(0px, 26px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(2) {
  animation: moveBox-2 4s infinite;
}

@keyframes moveBox-3 {
  9.0909090909% {
    transform: translate(-26px, 0);
  }

  18.1818181818% {
    transform: translate(-26px, 0);
  }

  27.2727272727% {
    transform: translate(0px, 0);
  }

  36.3636363636% {
    transform: translate(-26px, 0);
  }

  45.4545454545% {
    transform: translate(-26px, 0);
  }

  54.5454545455% {
    transform: translate(-26px, 0);
  }

  63.6363636364% {
    transform: translate(-26px, 0);
  }

  72.7272727273% {
    transform: translate(-26px, 0);
  }

  81.8181818182% {
    transform: translate(-26px, -26px);
  }

  90.9090909091% {
    transform: translate(0px, -26px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(3) {
  animation: moveBox-3 4s infinite;
}

@keyframes moveBox-4 {
  9.0909090909% {
    transform: translate(-26px, 0);
  }

  18.1818181818% {
    transform: translate(-26px, 0);
  }

  27.2727272727% {
    transform: translate(-26px, -26px);
  }

  36.3636363636% {
    transform: translate(0px, -26px);
  }

  45.4545454545% {
    transform: translate(0px, 0px);
  }

  54.5454545455% {
    transform: translate(0px, -26px);
  }

  63.6363636364% {
    transform: translate(0px, -26px);
  }

  72.7272727273% {
    transform: translate(0px, -26px);
  }

  81.8181818182% {
    transform: translate(-26px, -26px);
  }

  90.9090909091% {
    transform: translate(-26px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(4) {
  animation: moveBox-4 4s infinite;
}

@keyframes moveBox-5 {
  9.0909090909% {
    transform: translate(0, 0);
  }

  18.1818181818% {
    transform: translate(0, 0);
  }

  27.2727272727% {
    transform: translate(0, 0);
  }

  36.3636363636% {
    transform: translate(26px, 0);
  }

  45.4545454545% {
    transform: translate(26px, 0);
  }

  54.5454545455% {
    transform: translate(26px, 0);
  }

  63.6363636364% {
    transform: translate(26px, 0);
  }

  72.7272727273% {
    transform: translate(26px, 0);
  }

  81.8181818182% {
    transform: translate(26px, -26px);
  }

  90.9090909091% {
    transform: translate(0px, -26px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(5) {
  animation: moveBox-5 4s infinite;
}

@keyframes moveBox-6 {
  9.0909090909% {
    transform: translate(0, 0);
  }

  18.1818181818% {
    transform: translate(-26px, 0);
  }

  27.2727272727% {
    transform: translate(-26px, 0);
  }

  36.3636363636% {
    transform: translate(0px, 0);
  }

  45.4545454545% {
    transform: translate(0px, 0);
  }

  54.5454545455% {
    transform: translate(0px, 0);
  }

  63.6363636364% {
    transform: translate(0px, 0);
  }

  72.7272727273% {
    transform: translate(0px, 26px);
  }

  81.8181818182% {
    transform: translate(-26px, 26px);
  }

  90.9090909091% {
    transform: translate(-26px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(6) {
  animation: moveBox-6 4s infinite;
}

@keyframes moveBox-7 {
  9.0909090909% {
    transform: translate(26px, 0);
  }

  18.1818181818% {
    transform: translate(26px, 0);
  }

  27.2727272727% {
    transform: translate(26px, 0);
  }

  36.3636363636% {
    transform: translate(0px, 0);
  }

  45.4545454545% {
    transform: translate(0px, -26px);
  }

  54.5454545455% {
    transform: translate(26px, -26px);
  }

  63.6363636364% {
    transform: translate(0px, -26px);
  }

  72.7272727273% {
    transform: translate(0px, -26px);
  }

  81.8181818182% {
    transform: translate(0px, 0px);
  }

  90.9090909091% {
    transform: translate(26px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(7) {
  animation: moveBox-7 4s infinite;
}

@keyframes moveBox-8 {
  9.0909090909% {
    transform: translate(0, 0);
  }

  18.1818181818% {
    transform: translate(-26px, 0);
  }

  27.2727272727% {
    transform: translate(-26px, -26px);
  }

  36.3636363636% {
    transform: translate(0px, -26px);
  }

  45.4545454545% {
    transform: translate(0px, -26px);
  }

  54.5454545455% {
    transform: translate(0px, -26px);
  }

  63.6363636364% {
    transform: translate(0px, -26px);
  }

  72.7272727273% {
    transform: translate(0px, -26px);
  }

  81.8181818182% {
    transform: translate(26px, -26px);
  }

  90.9090909091% {
    transform: translate(26px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(8) {
  animation: moveBox-8 4s infinite;
}

@keyframes moveBox-9 {
  9.0909090909% {
    transform: translate(-26px, 0);
  }

  18.1818181818% {
    transform: translate(-26px, 0);
  }

  27.2727272727% {
    transform: translate(0px, 0);
  }

  36.3636363636% {
    transform: translate(-26px, 0);
  }

  45.4545454545% {
    transform: translate(0px, 0);
  }

  54.5454545455% {
    transform: translate(0px, 0);
  }

  63.6363636364% {
    transform: translate(-26px, 0);
  }

  72.7272727273% {
    transform: translate(-26px, 0);
  }

  81.8181818182% {
    transform: translate(-52px, 0);
  }

  90.9090909091% {
    transform: translate(-26px, 0);
  }

  100% {
    transform: translate(0px, 0);
  }
}

.banter-loader__box:nth-child(9) {
  animation: moveBox-9 4s infinite;
}



.active {
  background-color: #61DAFB;
}


button {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid black;
  font-family: "Poppins";
  font-weight: 600;
  text-transform: uppercase;
  color: #111111;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
}

i { color: black}



.paginationBttns {
  margin: 50px auto;
  margin-left: -40px;
  width: auto;
  height: 40px;
  float: center;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}


.paginationBttns a {
  padding: 10px;
  margin:  8px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
  overflow: hidden;
}

.paginationBttns a:hover {
  color: black;
  background-color: aqua;
}

.paginationActive {color: black;
  background-color: aqua; 
  margin-top: -5p;
  border-radius: 5px;
  cursor: pointer;}

.Error404 {
  position: absolute;
  left: 50%;
  top:30%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.Error404 h1 {
  font-size: 150px;
  font-weight: 600;
}

.Error404 p {
  margin-top: -150px;
}

.addflex {
margin: 50px auto;
max-width: 800px;
width: 90%;
height: auto;}

.countflex { margin: 0px;
height: 100px;
width: 100%;
border-radius: 15px;
border: 2px solid aqua;
box-shadow: 0px 0px 5px aqua;
background-color: #111111;
display: flex;
padding: 0px;
justify-content: center;
align-items: center;
margin-bottom: 50px;}

 .countcon { padding: 0px;
 margin:0px auto;}


.countcon span { font-size: 40px; }



.addform {
  margin: 10px auto;
  height: auto;
  cursor: pointer;
  position: relative;
  border-radius: 12px;
  width: 90%;
  overflow: hidden;
  height: auto;
  background-color: #19181a;
  box-shadow: 0px 0px 2px aqua;
  font-family: "Poppins";
  padding: 10px;
}

.addform .span { margin-top: 10px;}
.addform .buttons { display: flex;
justify-content: center;
align-items: center;
margin-bottom: 50px;
 }


.addform input {
  margin: 0px auto;
		width: 100%;
		min-height: 60px;
		background-color: hsla(222, 17%, 20%, 1);
		padding: 10px 20px;
		border: solid 2px  hsla(219, 11%, 30%, 1);
		border-radius:  1rem;
		transition: all 0.3s ease-in-out;
		color:  hsla(0, 0%, 99%, 1);
		font-family: 'Poppins';
		font-size: 1.3rem;
		z-index: 2;
    margin-bottom: 10px;
}

.addform input:hover,
.addform input:focus {
			border-color:rgb(91, 196, 231);
			outline: 0;
		}

    .addform input:focus {
			box-shadow: 0 0 0 4px hsla(223, 72%, 54%, 0.3);
		}
	

    .addform label {
      display: block;
      float: left;
      color: hsla(222, 10%, 54%, 1);
      margin-bottom: 10px;
      font-size: 1.3rem;
      font-weight: 200;
      transition: color  0.3s ease-in-out;
    }

    form { display: flex; flex-wrap: wrap; height: auto;
      justify-content: center; position: relative; overflow: hidden;
    align-items: center; margin-bottom: 100px;}

    .form { display: flex; flex-wrap: wrap; overflow: hidden;
    justify-content: center; position: relative;
  align-items: center; margin-bottom: 100px;}
    .form .div { margin: auto;
    margin-left: 2px;
  margin-right: 2px;
padding: 10px;
width: 45%; }

.submit { 
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.button1{
  background-color: red;
  color: white;
} 

.button1 i { color: white}
a { background-color: none;}
a.active { background: none}

.button2 {border: 2px solid aqua; margin: 20px 10px;
  box-shadow: 0px 0px 5px aqua; background-color: black; color:white;}
.button2  i {color:white}

 .submit button:hover {border: 2px solid aqua; box-shadow: 0px 0px 10px aqua; background-color: black; color:white;}
.submit button:hover i { color: white;}

.ifopen { position: absolute;
left: 0px;
top:0px;
height: 100%;
width: 100%;
z-index: 99999;
background-color: rgba(0, 0, 0, 0.5);
backdrop-filter: blur(5px);}

.ifopen .div { width: 40%; margin: 20px auto;}

.ifopen .center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: auto;
}

.circleImg { margin: auto;
height: 150px;
width: 150px;
border:3px solid aqua;
box-shadow: 0px 0px 10px aqua;
overflow: hidden;
margin-bottom: 40px;
border-radius: 100%;}

.circleImg img { margin-left: -45px; margin-top: 0px; height: 100%; width: 150%;}

.sol-icon { -webkit-animation: beat .25s infinite alternate;
	-moz-animation: beat .25s infinite alternate;
	-ms-animation: beat .25s infinite alternate;
	-o-animation: beat .25s infinite alternate;
	animation: beat .25s infinite alternate;

	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-o-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;}

@keyframes beat{
  to {
     -webkit-transform: scale(1.4);
      -moz-transform: scale(1.4);
      -o-transform: scale(1.4);
      -ms-transform: scale(1.4);
      transform: scale(1.4);
  }
 
 }
 
 @-moz-keyframes beat {
  to {
    -moz-transform: scale(1.4);
    transform: scale(1.4);
  }
 
 }
 
 @-webkit-keyframes beat{
  to {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
 
 }
 
 @-ms-keyframes beat {
  to {
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }
 
 }
 
 @-o-keyframes beat {
  to {
    -o-transform: scale(1.4);
    transform: scale(1.4);
  }
 
 } 

  @media only screen and (max-width: 600px) {
    .sm { margin-top: 30px; font-size: 18px;
      font-weight: 300; margin-bottom: 35px;}
      .banter-loader { margin-top: 70px;}
    .h1 { font-size: 50px; margin-bottom: 50px; letter-spacing: 5px;}
    .title {box-shadow: 0px 0px 5px aqua;
      border: 2px solid aqua; }

      .forImg {box-shadow: 0px 0px 5px aqua;
        border: 2px solid aqua; }

        .countcon { display: flex; flex-direction: column;}
        .addform { width: 100%;}
        .form .div { width: 100%;}
        .addform input { margin-bottom: -5px;}
        .submit { right:8px; bottom: 40px; }
        .ifopen .div { width: 90%; margin: 20px auto;}
  }